.login {
  min-height: 90svh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin: 12px;
}

.h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.icon {
  position: absolute;
  left: 2%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border-radius: 8px;
  color: #333;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.containerButtons {
  display: flex;
  gap: 18px;
}

@media (min-width: 750px) {
  .login {
    margin: 12px 150px;
  }

  .icon {
    left: 1%;
  }
}

@media (min-width: 1400px) {
  .login {
    margin: 12px 35%;
  }
}
