.container_titles {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 100dvh;
}

.card_titles {
  background: var(--card-titles);
  border: 1px solid var(--border-card-titles);
  border-radius: 16px;
  box-shadow: 0 4px 16px #0000000d;
  width: 100%;
  min-height: 165px;
  overflow: hidden;
}
