.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.invert {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.h2 {
  font-size: 22px;
  color: var(--blackColor);
}
